.grid {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
}

.turn-hightlight {
    color: white;
}
.reset{
    color: white;
    background-color: green;
    border: 1px solid gray;
    box-shadow: 2px;
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
}